<?xml version="1.0"?>
<model>
  <name>double_slung_load_point_mass</name>
  <version>1.0</version>
  <sdf>double_slung_load_point_mass.sdf</sdf>

  <author>
   <name>Zichen Zhang</name>
   <email>zichen21@ualberta.ca</email>
  </author>

  <description>
    This is a model of 2 penmdulum rod + 1 point mass load.
  </description>
</model>
