<?xml version="1.0"?>
<model>
  <name>ANCL Double Iris SLS</name>
  <version>1.0</version>
  <sdf version='1.6'>double_iris_sls.sdf</sdf>

  <author>
   <name>Zichen Zhang</name>
   <email>zichen21@ualberta.ca</email>
  </author>

  <description>
    Double 3DR Iris Slung Load System.
  </description>
</model>
