<?xml version="1.0"?>
<model>
  <name>px4vision_pendulum</name>
  <version>1.0</version>
  <sdf>px4vision_pendulum.sdf</sdf>

  <author>
   <name>Zichen Zhang</name>
   <email>zichen21@ualberta.ca</email>
  </author>

  <description>
    This is a model of px4vision with a pendulum.
  </description>
</model>
